@media (min-width: 2500px) {
  .upper-bg-block {
    height: 1035px;
  }
  .upper-bg-block-p-akad {
    font-size: 18px;
  }
  .creative-agency-block {
    margin-top: 80px;
  }
  .upper-green-block {
    font-size: 25px;
    width: 135px;
  }
  .upper-grey-frame {
    font-size: 85px;
    width: 900px;
    border: 15px solid;
  }
  .upper-text-block {
    font-size: 27px;
    width: 900px;
  }
  .upper-columns-block {
    max-width: 2000px;
    margin-top: -400px;
  }
  .upper-left-column-img {
    width: 860px;
    height: 680px;
    background-size: contain;
  }
  .upper-right-small-green {
    width: 100px;
    height: 36px;
    margin-top: 19px;
  }
  .upper-right-column-headline {
    font-size: 50px;
  }
  .upper-right-column-text {
    margin-top: 90px;
    width: 850px;
    font-size: 29px;
    line-height: 40px;
  }
  .upper-right-column-button {
    width: 245px;
    padding-top: 25px;
    padding-bottom: 25px;
    font-size: 25px;
    margin-top: 30px;
    float: none;
  }
  .why-choose-headline {
    width: 460px;
  }
  .why-choose-headline-text {
    font-size: 50px;
  }
  .why-choose-small-green {
    width: 119px;
    margin-top: 11px;
    height: 36px;
  }
  .why-choose-description {
    margin-top: 20px;
    font-size: 27px;
    width: 800px;
  }
  .why-choose-content-container {
    max-width: 2000px;
  }
  .left-column-block-img {
    width: 65px;
    height: 50px;
  }
  .left-column-menu {
    font-size: 33px;
  }
  .left-column-menu li {
    font-size: 27px;
  }
  .why-choose-right-column-img {
    width: 725px;
    height: 685px;
    background-size: contain;
    margin-left: 120px;
  }
  .portfolio-headline {
    width: 442px;
  }
  .portfolio-headline-text {
    font-size: 50px;
  }
  .portfolio-small-green {
    width: 118px;
    margin-top: 11px;
    height: 37px;
  }
  .portfolio-description {
    margin-top: 20px;
    font-size: 27px;
    width: 800px;
  }
  .portfolio-content-container {
    max-width: 2000px;
  }
  .portfolio-left-headline {
    font-size: 33px;
  }
  .portfolio-left-menu-headline {
    font-size: 27px;
  }
  .portfolio-left-menu-item-a {
    font-size: 27px;
  }
  .gallery-item {
    width: 475px;
  }
  .gallery-item-1 {
    height: 312px;
  }
  .gallery-item-2 {
    height: 312px;
  }
  .gallery-item-3 {
    height: 710px;
  }
  .gallery-item-4 {
    height: 475px;
  }
  .gallery-item-5 {
    height: 715px;
  }
  .gallery-item-6 {
    height: 271px;
  }
  .gallery-item-7 {
    height: 713px;
  }
  .gallery-item-8 {
    height: 476px;
  }
  .gallery-item-9 {
    height: 272px;
  }
  .contact-us-main {
    padding-top: 90px;
    padding-bottom: 90px;
  }
  .contact-us-container {
    max-width: 2000px;
  }
  .contact-us-left-text {
    font-size: 36px;
    width: 600px;
  }
  .contact-us-right-headline {
    font-size: 32px;
    text-align: center;
  }
  .dlicontact-us-right-heane {
    font-size: 36px;
    text-align: center;
  }
  .contact-us-left-button {
    width: 222px;
    font-size: 24px;
  }
  .contact-us-right-white {
    padding-bottom: 45px;
    padding-top: 45px;
    padding-right: 27px;
    padding-left: 27px;
    background: #fff;
  }
  .contact-us-right-text {
    font-size: 29px;
  }
  .contact-us-right-button {
    font-size: 25px;
  }
  .contact-us-right-input {
    font-size: 23px;
  }
  .contact-us-right-text {
    margin-top: 30px;
  }
  .contact-us-right-input-block {
    margin-top: 30px;
  }
  .footer-main {
    padding-bottom: 40px;
  }
  .footer-container {
    max-width: 2000px;
    padding-right: 30px;
  }
  .footer-navigation-item {
    font-size: 27px;
  }
  .footer-right-text {
    font-size: 27px;
  }
  .icon {
    font-size: 30px;
  }
}
@media (min-width: 2000px) and (max-width: 2500px) {
  .upper-columns-block {
    margin-top: -340px;
    max-width: 1600px;
  }
  .upper-bg-block-p-akad {
    font-size: 15px;
  }
  .creative-agency-block {
    margin-top: 180px;
  }
  .upper-grey-frame {
    font-size: 70px;
    width: 740px;
  }
  .upper-text-block {
    font-size: 20px;
    width: 600px;
  }
  .upper-right-column-headline {
    font-size: 36px;
  }
  .upper-right-small-green {
    width: 78px;
    height: 27px;
    margin-top: 14px;
  }
  .upper-right-column-text {
    margin-top: 60px;
    width: 555px;
    text-align: left;
    font-size: 20px;
    margin-top: 70px;
  }
  .upper-left-column-img {
    width: 680px;
    height: 595px;
  }
  .upper-right-column-button {
    float: none;
    font-size: 17px;
    width: 145px;
    padding-top: 17px;
    padding-bottom: 17px;
  }
  .why-choose-content-container {
    max-width: 1600px;
  }
  .why-choose-headline-text {
    font-size: 36px;
    width: 330px;
  }
  .why-choose-small-green {
    width: 87px;
    height: 27px;
    margin-top: 8px;
  }
  .why-choose-description {
    font-size: 20px;
  }
  .left-column-menu {
    font-size: 24px;
  }
  .left-column-menu li {
    font-size: 18px;
  }
  .why-choose-right-column-img {
    width: 535px;
    height: 585px;
  }
  .portfolio-headline-text {
    font-size: 36px;
    width: 318px;
  }
  .portfolio-small-green {
    width: 85px;
    height: 28px;
    margin-top: 7px;
  }
  .portfolio-description {
    font-size: 20px;
  }
  .portfolio-content-container {
    max-width: 1600px;
  }
  .portfolio-left-menu-headline {
    font-size: 19px;
  }
  .portfolio-left-menu-item-a {
    font-size: 19px;
  }
  .gallery-item {
    width: 380px;
  }
  .gallery-item-1 {
    height: 247px;
  }
  .gallery-item-2 {
    height: 250px;
  }
  .gallery-item-3 {
    height: 569px;
  }
  .gallery-item-4 {
    height: 380px;
  }
  .gallery-item-5 {
    height: 571px;
  }
  .gallery-item-6 {
    height: 217px;
  }
  .gallery-item-7 {
    height: 568px;
  }
  .gallery-item-8 {
    height: 381px;
  }
  .gallery-item-9 {
    height: 217px;
  }
  .contact-us-container {
    max-width: 1600px;
  }
  .contact-us-left-text {
    font-size: 28px;
    width: 454px;
  }
  .contact-us-right-headline {
    font-size: 28px;
    text-align: center;
  }
  .contact-us-left-button {
    width: 170px;
    padding-top: 17px;
    padding-bottom: 17px;
    font-size: 19px;
  }
  .contact-us-right-text {
    font-size: 20px;
  }
  .contact-us-right-input {
    font-size: 17px;
  }
  .contact-us-right-button {
    font-size: 19px;
  }
  .contact-us-right-text {
    margin-top: 25px;
  }
  .contact-us-right-input-block {
    margin-top: 20px;
  }
  .footer-container {
    max-width: 1600px;
    padding-right: 30px;
  }
  .footer-navigation-item {
    font-size: 19px;
  }
  .footer-right-text {
    font-size: 19px;
  }
  .icon {
    font-size: 27px;
  }
}
@media (min-width: 1800px) and (max-width: 2000px) {
  .upper-right-small-green {
    position: absolute;
    margin-top: 14px;
  }
  .upper-right-column-text {
    margin-top: 60px;
    width: 555px;
    text-align: left;
    font-size: 18px;
    color: #60606e;
    line-height: 33px;
    font-family: 'open_sansregular';
  }
  .upper-text-block {
    font-size: 18px;
  }
  .why-choose-description {
    font-size: 18px;
  }
  .left-column-menu li {
    display: block;
    font-family: 'open_sansregular';
    font-size: 16px;
    margin-top: 20px;
  }
  .why-choose-small-green {
    margin-top: 8px;
  }
  .portfolio-description {
    font-size: 18px;
  }
  .portfolio-small-green {
    height: 22px;
    margin-top: 7px;
  }
  .footer-main {
    padding-bottom: 40px;
  }
  .footer-container {
    padding-left: 15px;
  }
  .footer-navigation-block {
    text-align: left;
  }
  .footer-navigation-dash {
    display: none;
  }
  .footer-navigation-item {
    font-size: 17px;
  }
  .footer-navigation-block :nth-child(3),
  .footer-navigation-block :nth-child(5),
  .footer-navigation-block :nth-child(7),
  .footer-navigation-block :nth-child(9),
  .footer-navigation-block :nth-child(11) {
    margin-left: 10px;
  }
  .footer-right-text {
    font-size: 17px;
  }
  .icon {
    font-size: 23px;
  }
}
@media (min-width: 1200px) and (max-width: 1400px) {
  .contact-us-main {
    padding-top: 35px;
    padding-bottom: 35px;
  }
  .contact-us-left-text {
    font-size: 27px;
    width: 380px;
  }
}
@media (min-width: 1000px) and (max-width: 1200px) {
  .page {
    padding-bottom: 82px;
  }
  .upper-bg-block {
    height: 700px;
  }
  .upper-bg-block-p-akad {
    font-size: 7px;
    margin-left: -55px;
  }
  .creative-agency-block {
    margin-top: 70px;
  }
  .upper-green-block {
    width: 70px;
    font-size: 11px;
  }
  .upper-grey-frame {
    border: 8px solid #60606e;
    font-size: 35px;
    width: 416px;
  }
  .upper-text-block {
    font-size: 13px;
  }
  .upper-left-column-img {
    width: 375px;
    height: 327px;
  }
  .upper-right-column-headline {
    font-size: 25px;
  }
  .upper-right-small-green {
    margin-top: 10px;
    width: 52px;
    height: 18px;
  }
  .upper-right-column-text {
    font-size: 14px;
    width: 450px;
  }
  .upper-right-column-button {
    margin-top: 12px;
    font-size: 11px;
    width: 140px;
    padding-top: 15px;
    padding-bottom: 15px;
  }
  .why-choose-main {
    margin-top: 100px;
  }
  .why-choose-headline {
    width: 230px;
  }
  .why-choose-headline-text {
    font-size: 25px;
  }
  .why-choose-small-green {
    width: 60px;
    height: 19px;
    margin-top: 5px;
  }
  .why-choose-description {
    font-size: 13px;
  }
  .why-choose-content {
    margin-top: 75px;
  }
  .left-column-block-img {
    display: none;
  }
  .left-column-menu {
    font-size: 14px;
  }
  .left-column-menu li {
    font-size: 11px;
    margin-top: 20px;
  }
  .left-column-menu :nth-child(1) {
    margin-top: 25px;
  }
  .why-choose-right-column {
    padding-left: 120px;
  }
  .why-choose-right-column-img {
    width: 345px;
    height: 378px;
  }
  .portfolio-main {
    margin-top: 75px;
    margin-bottom: 90px;
  }
  .portfolio-headline {
    width: 221px;
  }
  .portfolio-headline-text {
    font-size: 25px;
  }
  .portfolio-small-green {
    width: 59px;
    height: 18px;
    margin-top: 6px;
  }
  .portfolio-description {
    margin-bottom: 70px;
  }
  .portfolio-left-headline {
    font-size: 22px;
    margin-bottom: 25px;
    text-align: center;
  }
  .portfolio-left-menu-headline {
    display: none;
  }
  .portfolio-left-menu {
    list-style: none;
    padding: 0px;
    margin: 0 auto;
    width: 300px;
  }
  .portfolio-left-menu-item {
    text-align: center;
    background: #999999;
    padding: 15px;
    margin-bottom: 10px;
  }
  .portfolio-left-menu-item-a {
    color: #7beec7;
  }
  .portfolio-left-menu-item-a:hover {
    background: #999;
    padding-left: inherit;
    padding-right: unset;
    color: #fff;
    text-decoration: none;
  }
  .gallery-item:hover {
    z-index: unset;
    -webkit-transform: none;
            transform: none;
  }
  .gallery-item:active {
    z-index: 999;
    -webkit-transform: scale(1.3) translateY(60px);
            transform: scale(1.3) translateY(60px);
  }
  .gallery-item-1 {
    width: 210px;
    height: 137px;
  }
  .gallery-item-2 {
    width: 210px;
    height: 140px;
  }
  .gallery-item-3 {
    width: 210px;
    height: 315px;
  }
  .gallery-item-4 {
    width: 210px;
    height: 232px;
  }
  .gallery-item-5 {
    width: 210px;
    height: 315px;
  }
  .gallery-item-6 {
    width: 210px;
    height: 120px;
  }
  .gallery-item-7 {
    width: 210px;
    height: 314px;
  }
  .gallery-item-8 {
    width: 210px;
    height: 210px;
  }
  .gallery-item-9 {
    width: 210px;
    height: 120px;
  }
  .gallery-container {
    padding-right: 180px;
    padding-left: 155px;
    margin-top: 35px;
  }
  .gallery-column > div {
    margin-bottom: 10px;
  }
  .contact-us-main {
    padding-top: 20px;
    padding-bottom: 20px;
  }
  .contact-us-left-text {
    font-size: 20px;
    line-height: 30px;
    width: 325px;
  }
  .contact-us-left-button {
    width: 140px;
    padding-top: 15px;
    padding-bottom: 15px;
    font-size: 11px;
  }
  .contact-us-right-white {
    padding-bottom: 10px;
    padding-top: 10px;
    padding-right: 15px;
    padding-left: 15px;
  }
  .contact-us-right-headline {
    font-size: 18px;
  }
  .contact-us-right-text {
    font-size: 12px;
  }
  .contact-us-right-input {
    padding: 10px;
    font-size: 8px;
  }
  .contact-us-right-button {
    font-size: 8px;
    padding: 10px;
  }
  .footer-main {
    padding-top: 15px;
    padding-bottom: 15px;
  }
  .footer-navigation-dash {
    display: none;
  }
  .footer-navigation-block :nth-child(3),
  .footer-navigation-block :nth-child(5),
  .footer-navigation-block :nth-child(7),
  .footer-navigation-block :nth-child(9),
  .footer-navigation-block :nth-child(11) {
    margin-left: 34px;
  }
  .footer-navigation-item {
    font-size: 10px;
  }
  .footer-right-text {
    font-size: 10px;
  }
  .footer-right-icons {
    margin-top: 6px;
  }
  .icon {
    font-size: 14px;
  }
}
@media (min-width: 800px) and (max-width: 1000px) {
  .page {
    padding-bottom: 82px;
  }
  .upper-bg-block {
    height: 700px;
  }
  .upper-columns-block {
    padding-left: 95px;
  }
  .upper-bg-block-p-akad {
    font-size: 7px;
    margin-left: -55px;
  }
  .creative-agency-block {
    margin-top: 70px;
  }
  .upper-green-block {
    width: 70px;
    font-size: 11px;
  }
  .upper-grey-frame {
    border: 8px solid #60606e;
    font-size: 35px;
    width: 416px;
  }
  .upper-text-block {
    font-size: 13px;
  }
  .upper-left-column-img {
    display: none;
  }
  .upper-right-column-headline {
    font-size: 25px;
    padding-left: 135px;
  }
  .upper-right-small-green {
    margin-top: 9px;
    width: 52px;
    height: 19px;
    margin-left: 137px;
  }
  .upper-right-column-text {
    font-size: 14px;
    text-align: justify;
  }
  .upper-right-column-button {
    margin-top: 43px;
    font-size: 11px;
    width: 140px;
    padding-top: 15px;
    padding-bottom: 15px;
    float: none;
  }
  .why-choose-main {
    margin-top: 100px;
  }
  .why-choose-left-column-content {
    margin-left: 80px;
    padding-right: 46px;
  }
  .why-choose-headline {
    width: 230px;
  }
  .why-choose-headline-text {
    font-size: 25px;
  }
  .why-choose-small-green {
    width: 60px;
    height: 19px;
    margin-top: 5px;
  }
  .why-choose-description {
    font-size: 13px;
    width: 420px;
  }
  .why-choose-content {
    margin-top: 40px;
  }
  .left-column-block-img {
    display: none;
  }
  .left-column-menu {
    font-size: 14px;
  }
  .left-column-menu li {
    font-size: 13px;
    margin-top: 20px;
  }
  .left-column-menu :nth-child(1) {
    margin-top: 25px;
  }
  .why-choose-right-column {
    padding-left: 120px;
  }
  .why-choose-right-column-img {
    display: none;
  }
  .portfolio-main {
    margin-top: 75px;
    margin-bottom: 90px;
  }
  .portfolio-headline {
    width: 221px;
  }
  .portfolio-headline-text {
    font-size: 25px;
  }
  .portfolio-small-green {
    width: 59px;
    height: 18px;
    margin-top: 6px;
  }
  .portfolio-description {
    margin-bottom: 70px;
    width: 420px;
  }
  .portfolio-left-headline {
    font-size: 22px;
    margin-bottom: 25px;
    text-align: center;
    text-decoration: overline;
  }
  .portfolio-left-menu-headline {
    display: none;
  }
  .portfolio-left-menu {
    list-style: none;
    padding: 0px;
    margin: 0 auto;
    width: 530px;
  }
  .portfolio-left-menu-item {
    text-align: center;
    background: #999999;
    padding: 15px;
    margin-bottom: 10px;
  }
  .portfolio-left-menu-item-a {
    color: #7beec7;
  }
  .portfolio-left-menu-item-a:hover {
    background: #999;
    padding-left: inherit;
    padding-right: unset;
    color: #fff;
    text-decoration: none;
  }
  .gallery-item:hover {
    z-index: unset;
    -webkit-transform: none;
            transform: none;
  }
  .gallery-item:active {
    z-index: 999;
    -webkit-transform: scale(1.3) translateY(60px);
            transform: scale(1.3) translateY(60px);
  }
  .gallery-item-1 {
    width: 170px;
    height: 111px;
  }
  .gallery-item-2 {
    width: 170px;
    height: 112px;
  }
  .gallery-item-3 {
    width: 170px;
    height: 255px;
  }
  .gallery-item-4 {
    width: 170px;
    height: 170px;
  }
  .gallery-item-5 {
    width: 170px;
    height: 255px;
  }
  .gallery-item-6 {
    width: 170px;
    height: 97px;
  }
  .gallery-item-7 {
    width: 170px;
    height: 255px;
  }
  .gallery-item-8 {
    width: 170px;
    height: 170px;
  }
  .gallery-item-9 {
    width: 170px;
    height: 98px;
  }
  .gallery-container {
    padding-right: 114px;
    padding-left: 95px;
    margin-top: 35px;
  }
  .gallery-column > div {
    margin-bottom: 10px;
  }
  .contact-us-main {
    padding-top: 20px;
    padding-bottom: 20px;
  }
  .contact-us-container {
    max-width: 560px;
  }
  .contact-us-left-text {
    font-size: 20px;
    line-height: 26px;
    width: 325px;
  }
  .contact-us-left-button {
    width: 115px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-top: 15px;
    font-size: 10px;
  }
  .contact-us-right-white {
    padding-bottom: 10px;
    padding-top: 10px;
    padding-right: 15px;
    padding-left: 15px;
  }
  .contact-us-right-headline {
    font-size: 16px;
  }
  .contact-us-right-text {
    font-size: 9px;
    margin-bottom: 3px;
  }
  .contact-us-right-input {
    padding: 10px;
    font-size: 8px;
  }
  .contact-us-right-button {
    font-size: 8px;
    padding: 10px;
  }
  .footer-main {
    padding-top: 15px;
    padding-bottom: 15px;
  }
  .footer-container {
    padding-left: 0px;
    max-width: 560px;
  }
  .footer-navigation-dash {
    display: none;
  }
  .footer-navigation-block {
    width: 235px;
    text-align: left;
  }
  .footer-navigation-block :nth-child(5),
  .footer-navigation-block :nth-child(9),
  .footer-navigation-block :nth-child(11) {
    margin-left: 34px;
  }
  .footer-navigation-block :nth-child(3) {
    margin-left: 50px;
  }
  .footer-navigation-item {
    font-size: 10px;
  }
  .footer-right-block {
    padding: 0px;
    margin-top: 8px;
  }
  .footer-right-text {
    font-size: 8px;
    margin-bottom: -4px;
  }
  .footer-right-icons {
    margin-top: 6px;
  }
  .icon {
    font-size: 14px;
  }
}
@media (min-width: 700px) and (max-width: 800px) {
  .page {
    padding-bottom: 82px;
  }
  .upper-bg-block {
    height: 700px;
    background-size: contain;
  }
  .upper-bg-block-p-akad {
    font-size: 5px;
    margin-left: -55px;
    margin-top: -33px;
  }
  .creative-agency-block {
    margin-top: 30px;
  }
  .upper-green-block {
    width: 33px;
    font-size: 6px;
    padding-top: 2px;
    padding-bottom: 2px;
  }
  .upper-grey-frame {
    border: 6px solid #60606e;
    font-size: 25px;
    width: 270px;
    padding-top: 5px;
    padding-bottom: 5px;
  }
  .upper-text-block {
    font-size: 9px;
    width: 290px;
    margin-top: 15px;
  }
  .upper-columns-block {
    margin-top: -500px;
  }
  .upper-left-column-img {
    display: none;
  }
  .upper-right-column-block {
    padding-left: 172px;
  }
  .upper-right-column-headline {
    font-size: 20px;
    margin-left: 60px;
  }
  .upper-right-small-green {
    margin-top: 8px;
    margin-left: 62px;
    width: 40px;
    height: 14px;
  }
  .upper-right-column-text {
    margin-top: 45px;
    font-size: 10px;
    text-align: justify;
    width: 340px;
    line-height: 18px;
  }
  .upper-right-column-button {
    margin-top: 20px;
    float: none;
    font-size: 7px;
    width: 75px;
    padding-top: 10px;
    padding-bottom: 10px;
  }
  .why-choose-main {
    margin-top: 65px;
  }
  .why-choose-headline {
    width: 230px;
  }
  .why-choose-headline-text {
    font-size: 20px;
  }
  .why-choose-small-green {
    width: 47px;
    height: 14px;
    margin-top: 5px;
    margin-left: 24px;
  }
  .why-choose-description {
    font-size: 10px;
    width: 326px;
  }
  .why-choose-content {
    margin-top: 55px;
  }
  .why-choose-left-column-content {
    padding-left: 110px;
    padding-right: 60px;
  }
  .left-column-block-img {
    display: none;
  }
  .left-column-menu {
    font-size: 14px;
  }
  .left-column-menu li {
    font-size: 10px;
    margin-top: 12px;
  }
  .left-column-menu :nth-child(1) {
    margin-top: 15px;
  }
  .why-choose-right-column {
    padding-left: 120px;
  }
  .why-choose-right-column-img {
    display: none;
  }
  .portfolio-main {
    margin-top: 75px;
    margin-bottom: 90px;
  }
  .portfolio-headline {
    width: 221px;
    padding-bottom: 40px;
  }
  .portfolio-headline-text {
    font-size: 20px;
  }
  .portfolio-small-green {
    width: 46px;
    height: 15px;
    margin-top: 4px;
    margin-left: 23px;
  }
  .portfolio-description {
    font-size: 10px;
    width: 326px;
    margin-bottom: 20px;
  }
  .portfolio-left-headline {
    font-size: 16px;
    margin-bottom: 10px;
    text-align: center;
    text-decoration: overline;
  }
  .portfolio-left-menu-headline {
    display: none;
  }
  .portfolio-left-menu {
    list-style: none;
    padding: 0px;
    margin: 0 auto;
    width: 500px;
  }
  .portfolio-left-menu-item {
    text-align: center;
    background: #999999;
    padding: 15px;
    margin-bottom: 10px;
  }
  .portfolio-left-menu-item-a {
    color: #7beec7;
  }
  .portfolio-left-menu-item-a:hover {
    background: #999;
    padding-left: inherit;
    padding-right: unset;
    color: #fff;
    text-decoration: none;
  }
  .gallery-item:hover {
    z-index: unset;
    -webkit-transform: none;
            transform: none;
  }
  .gallery-item:active {
    z-index: 999;
    -webkit-transform: scale(1.3) translateY(60px);
            transform: scale(1.3) translateY(60px);
  }
  .gallery-item-1 {
    width: 160px;
    height: 104px;
  }
  .gallery-item-2 {
    width: 160px;
    height: 107px;
  }
  .gallery-item-3 {
    width: 160px;
    height: 240px;
  }
  .gallery-item-4 {
    width: 160px;
    height: 160px;
  }
  .gallery-item-5 {
    width: 160px;
    height: 240px;
  }
  .gallery-item-6 {
    width: 160px;
    height: 91px;
  }
  .gallery-item-7 {
    width: 160px;
    height: 239px;
  }
  .gallery-item-8 {
    width: 160px;
    height: 160px;
  }
  .gallery-item-9 {
    width: 160px;
    height: 92px;
  }
  .gallery-container {
    padding-right: 128px;
    padding-left: 110px;
    margin-top: 35px;
  }
  .gallery-column > div {
    margin-bottom: 6px;
  }
  .contact-us-container {
    max-width: 530px;
  }
  .contact-us-main {
    padding-top: 20px;
    padding-bottom: 20px;
  }
  .contact-us-left-text {
    font-size: 17px;
    line-height: 30px;
    width: 275px;
  }
  .contact-us-left-button {
    width: 96px;
    padding-top: 8px;
    padding-bottom: 8px;
    font-size: 10px;
  }
  .contact-us-right-white {
    padding-bottom: 10px;
    padding-top: 10px;
    padding-right: 15px;
    padding-left: 15px;
  }
  .contact-us-right-headline {
    font-size: 13px;
  }
  .contact-us-right-text {
    font-size: 8px;
    margin-bottom: 2px;
  }
  .contact-us-right-input {
    padding: 9px;
    font-size: 6px;
    border: 1px solid #e5e5e5;
  }
  .contact-us-right-button {
    font-size: 7px;
    padding: 7px;
  }
  .footer-container {
    padding-left: 0px;
    padding-right: 30px;
    max-width: 530px;
  }
  .footer-main {
    padding-top: 15px;
    padding-bottom: 15px;
  }
  .footer-navigation-dash {
    display: none;
  }
  .footer-navigation-block {
    width: 235px;
    text-align: left;
    padding-left: 30px;
    margin-top: -7px;
  }
  .footer-navigation-block :nth-child(3),
  .footer-navigation-block :nth-child(9),
  .footer-navigation-block :nth-child(5),
  .footer-navigation-block :nth-child(11) {
    margin-left: 34px;
  }
  .footer-navigation-block :nth-child(3) {
    margin-left: 50px;
  }
  .footer-navigation-item {
    font-size: 9px;
  }
  .footer-right-text {
    font-size: 8px;
  }
  .footer-right-icons {
    margin-top: 6px;
  }
  .icon {
    font-size: 14px;
  }
}
@media (min-width: 600px) and (max-width: 700px) {
  .page {
    padding-bottom: 61px;
  }
  .upper-bg-block {
    height: 725px;
    background-size: contain;
  }
  .upper-bg-block-p-akad {
    font-size: 4px;
    margin-left: -55px;
    margin-top: -33px;
  }
  .creative-agency-block {
    margin-top: 30px;
  }
  .upper-green-block {
    width: 33px;
    font-size: 6px;
    padding-top: 2px;
    padding-bottom: 2px;
  }
  .upper-grey-frame {
    border: 6px solid #60606e;
    font-size: 25px;
    width: 270px;
    padding-top: 5px;
    padding-bottom: 5px;
  }
  .upper-text-block {
    font-size: 9px;
    width: 290px;
    margin-top: 10px;
  }
  .upper-columns-block {
    margin-top: -510px;
  }
  .upper-left-column-img {
    display: none;
  }
  .upper-right-column-block {
    padding-left: 102px;
  }
  .upper-right-column-headline {
    font-size: 20px;
    margin-left: 43px;
  }
  .upper-right-small-green {
    margin-top: 8px;
    margin-left: 45px;
    width: 40px;
    height: 14px;
  }
  .upper-right-column-text {
    margin-top: 35px;
    font-size: 9px;
    text-align: justify;
    width: 295px;
    line-height: 18px;
  }
  .upper-right-column-button {
    margin-top: 23px;
    float: none;
    font-size: 7px;
    width: 75px;
    padding-top: 10px;
    padding-bottom: 10px;
  }
  .why-choose-main {
    margin-top: 65px;
  }
  .why-choose-headline {
    width: 230px;
    padding-bottom: 40px;
  }
  .why-choose-headline-text {
    font-size: 20px;
  }
  .why-choose-small-green {
    width: 47px;
    height: 14px;
    margin-top: 5px;
    margin-left: 24px;
  }
  .why-choose-description {
    font-size: 9px;
    width: 290px;
  }
  .why-choose-content {
    margin-top: 35px;
  }
  .why-choose-left-column-content {
    padding-left: 116px;
    padding-right: 130px;
  }
  .left-column-block-img {
    display: none;
  }
  .left-column-menu {
    font-size: 10px;
    margin-bottom: 0px;
  }
  .block-item-2,
  .block-item-4 {
    padding-left: 12px;
  }
  .left-column-menu li {
    margin-top: 8px;
    font-size: 8px;
  }
  .left-column-menu :nth-child(1) {
    margin-top: 10px;
  }
  .why-choose-right-column {
    padding-left: 120px;
  }
  .why-choose-right-column-img {
    display: none;
  }
  .portfolio-main {
    margin-top: 75px;
    margin-bottom: 35px;
  }
  .portfolio-headline {
    width: 221px;
    padding-bottom: 40px;
  }
  .portfolio-headline-text {
    font-size: 20px;
  }
  .portfolio-small-green {
    width: 46px;
    height: 15px;
    margin-top: 4px;
    margin-left: 23px;
  }
  .portfolio-description {
    font-size: 9px;
    width: 326px;
    margin-bottom: 20px;
  }
  .portfolio-left-headline {
    font-size: 16px;
    margin-bottom: 10px;
    text-align: center;
    text-decoration: overline;
  }
  .portfolio-left-menu-headline {
    display: none;
  }
  .portfolio-left-menu {
    list-style: none;
    padding: 0px;
    margin: 0 auto;
    width: 310px;
  }
  .portfolio-left-menu-item {
    font-size: 12px;
    text-align: center;
    background: #999999;
    padding: 15px;
    margin-bottom: 10px;
  }
  .portfolio-left-menu-item-a {
    color: #7beec7;
  }
  .portfolio-left-menu-item-a:hover {
    background: #999;
    padding-left: inherit;
    padding-right: unset;
    color: #fff;
    text-decoration: none;
  }
  .gallery-item:hover {
    z-index: unset;
    -webkit-transform: none;
            transform: none;
  }
  .gallery-item:active {
    z-index: 999;
    -webkit-transform: scale(1.3) translateY(60px);
            transform: scale(1.3) translateY(60px);
  }
  .gallery-item-1 {
    width: 100px;
    height: 59px;
  }
  .gallery-item-2 {
    width: 100px;
    height: 60px;
  }
  .gallery-item-3 {
    width: 100px;
    height: 135px;
  }
  .gallery-item-4 {
    width: 100px;
    height: 90px;
  }
  .gallery-item-5 {
    width: 100px;
    height: 135px;
  }
  .gallery-item-6 {
    width: 100px;
    height: 51px;
  }
  .gallery-item-7 {
    width: 100px;
    height: 135px;
  }
  .gallery-item-8 {
    width: 100px;
    height: 90px;
  }
  .gallery-item-9 {
    width: 100px;
    height: 51px;
  }
  .gallery-container {
    padding-right: 139px;
    padding-left: 116px;
    margin-top: 35px;
  }
  .gallery-column > div {
    margin-bottom: 6px;
  }
  .contact-us-main {
    padding-top: 5px;
    padding-bottom: 15px;
  }
  .contact-us-left-text {
    font-size: 15px;
    line-height: 22px;
    text-align: center;
    margin: 0 auto;
    width: 250px;
  }
  .contact-us-left-button {
    width: 96px;
    padding-top: 8px;
    padding-bottom: 8px;
    font-size: 9px;
    margin: 0 auto;
    margin-top: 10px;
    margin-bottom: 20px;
  }
  .contact-us-right-white {
    padding-bottom: 10px;
    padding-top: 10px;
    padding-right: 15px;
    padding-left: 15px;
    margin: 0 auto;
    width: 330px;
  }
  .contact-us-right-headline {
    font-size: 13px;
    text-align: center;
  }
  .contact-us-right-text {
    font-size: 9px;
    width: 265px;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 5px;
  }
  .contact-us-right-input-block {
    width: 300px;
  }
  .contact-us-right-input {
    padding: 9px;
    font-size: 6px;
    border: 1px solid #e5e5e5;
  }
  .contact-us-right-button {
    font-size: 7px;
    padding: 7px;
    border-bottom: 3px solid #7beec7;
  }
  .footer-main {
    padding-top: 15px;
    padding-bottom: 15px;
    padding-right: 115px;
  }
  .footer-navigation-dash {
    display: none;
  }
  .footer-navigation-block {
    width: 275px;
    text-align: left;
    padding-left: 117px;
    line-height: 15px;
    margin-top: -6px;
  }
  .footer-navigation-block :nth-child(3),
  .footer-navigation-block :nth-child(9),
  .footer-navigation-block :nth-child(5),
  .footer-navigation-block :nth-child(11) {
    margin-left: 34px;
  }
  .footer-navigation-block :nth-child(3) {
    margin-left: 50px;
  }
  .footer-navigation-item {
    font-size: 6px;
  }
  .footer-right-text {
    font-size: 5px;
    margin-bottom: -6px;
  }
  .footer-icon {
    display: inline-block;
    margin-left: 8px;
  }
  .footer-right-icons {
    margin-top: 6px;
  }
  .icon {
    font-size: 9px;
  }
}
@media (max-width: 600px) {
  .page {
    padding-bottom: 61px;
  }
  .upper-bg-block {
    height: 725px;
    background-size: contain;
  }
  .upper-bg-block-p-akad {
    font-size: 4px;
    margin-left: -55px;
    margin-top: -33px;
  }
  .creative-agency-block {
    margin-top: -15px;
  }
  .upper-green-block {
    width: 33px;
    font-size: 6px;
    padding-top: 2px;
    padding-bottom: 2px;
  }
  .upper-grey-frame {
    border: 6px solid #60606e;
    font-size: 25px;
    width: 270px;
    padding-top: 5px;
    padding-bottom: 5px;
  }
  .upper-text-block {
    font-size: 9px;
    width: 290px;
    margin-top: 10px;
  }
  .upper-columns-block {
    margin-top: -570px;
  }
  .upper-left-column-img {
    display: none;
  }
  .upper-right-column-block {
    padding-left: 88px;
  }
  .upper-right-column-headline {
    font-size: 20px;
    margin-left: 43px;
  }
  .upper-right-small-green {
    margin-top: 8px;
    margin-left: 45px;
    width: 40px;
    height: 14px;
  }
  .upper-right-column-text {
    margin-top: 35px;
    font-size: 9px;
    text-align: justify;
    width: 295px;
    line-height: 18px;
  }
  .upper-right-column-button {
    margin-top: 23px;
    float: none;
    font-size: 7px;
    width: 75px;
    padding-top: 10px;
    padding-bottom: 10px;
  }
  .why-choose-main {
    margin-top: 65px;
  }
  .why-choose-headline {
    width: 230px;
    padding-bottom: 40px;
  }
  .why-choose-headline-text {
    font-size: 20px;
  }
  .why-choose-small-green {
    width: 47px;
    height: 14px;
    margin-top: 5px;
    margin-left: 24px;
  }
  .why-choose-description {
    font-size: 9px;
    width: 290px;
  }
  .why-choose-content {
    margin-top: 35px;
  }
  .why-choose-left-column-content {
    padding-left: 116px;
    padding-right: 130px;
  }
  .left-column-block-img {
    display: none;
  }
  .left-column-menu {
    font-size: 10px;
    margin-bottom: 0px;
  }
  .block-item-2,
  .block-item-4 {
    padding-left: 12px;
  }
  .left-column-menu li {
    margin-top: 8px;
    font-size: 8px;
  }
  .left-column-menu :nth-child(1) {
    margin-top: 10px;
  }
  .why-choose-right-column {
    padding-left: 120px;
  }
  .why-choose-right-column-img {
    display: none;
  }
  .portfolio-main {
    margin-top: 75px;
    margin-bottom: 35px;
  }
  .portfolio-headline {
    width: 221px;
    padding-bottom: 40px;
  }
  .portfolio-headline-text {
    font-size: 20px;
  }
  .portfolio-small-green {
    width: 46px;
    height: 15px;
    margin-top: 4px;
    margin-left: 23px;
  }
  .portfolio-description {
    font-size: 9px;
    width: 326px;
    margin-bottom: 20px;
  }
  .portfolio-left-headline {
    font-size: 16px;
    margin-bottom: 10px;
    text-align: center;
    text-decoration: overline;
  }
  .portfolio-left-menu-headline {
    display: none;
  }
  .portfolio-left-menu {
    list-style: none;
    padding: 0px;
    margin: 0 auto;
    width: 310px;
  }
  .portfolio-left-menu-item {
    font-size: 12px;
    text-align: center;
    background: #999999;
    padding: 15px;
    margin-bottom: 10px;
  }
  .portfolio-left-menu-item-a {
    color: #7beec7;
  }
  .portfolio-left-menu-item-a:hover {
    background: #999;
    padding-left: inherit;
    padding-right: unset;
    color: #fff;
    text-decoration: none;
  }
  .gallery-item:hover {
    z-index: unset;
    -webkit-transform: none;
            transform: none;
  }
  .gallery-item:active {
    z-index: 999;
    -webkit-transform: scale(1.3) translateY(60px);
            transform: scale(1.3) translateY(60px);
  }
  .gallery-item-1 {
    width: 100px;
    height: 59px;
  }
  .gallery-item-2 {
    width: 100px;
    height: 60px;
  }
  .gallery-item-3 {
    width: 100px;
    height: 135px;
  }
  .gallery-item-4 {
    width: 100px;
    height: 90px;
  }
  .gallery-item-5 {
    width: 100px;
    height: 135px;
  }
  .gallery-item-6 {
    width: 100px;
    height: 51px;
  }
  .gallery-item-7 {
    width: 100px;
    height: 135px;
  }
  .gallery-item-8 {
    width: 100px;
    height: 90px;
  }
  .gallery-item-9 {
    width: 100px;
    height: 51px;
  }
  .gallery-container {
    padding-right: 121px;
    padding-left: 98px;
    margin-top: 35px;
  }
  .gallery-column > div {
    margin-bottom: 6px;
  }
  .contact-us-main {
    padding-top: 5px;
    padding-bottom: 15px;
  }
  .contact-us-left-text {
    font-size: 15px;
    line-height: 22px;
    text-align: center;
    margin: 0 auto;
    width: 250px;
  }
  .contact-us-left-button {
    width: 96px;
    padding-top: 8px;
    padding-bottom: 8px;
    font-size: 9px;
    margin: 0 auto;
    margin-top: 10px;
    margin-bottom: 20px;
  }
  .contact-us-right-white {
    padding-bottom: 10px;
    padding-top: 10px;
    padding-right: 15px;
    padding-left: 15px;
    margin: 0 auto;
    width: 330px;
  }
  .contact-us-right-headline {
    font-size: 13px;
    text-align: center;
  }
  .contact-us-right-text {
    font-size: 9px;
    width: 265px;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 5px;
  }
  .contact-us-right-input-block {
    width: 300px;
  }
  .contact-us-right-input {
    padding: 9px;
    font-size: 6px;
    border: 1px solid #e5e5e5;
  }
  .contact-us-right-button {
    font-size: 7px;
    padding: 7px;
  }
  .footer-main {
    padding-top: 15px;
    padding-bottom: 15px;
  }
  .footer-container {
    padding-left: 0px;
    padding-right: 87px;
  }
  .footer-navigation-dash {
    display: none;
  }
  .footer-left-block {
    margin-left: -15px;
  }
  .footer-navigation-block {
    width: 275px;
    text-align: left;
    padding-left: 117px;
    line-height: 15px;
    margin-top: -6px;
  }
  .footer-navigation-block :nth-child(3),
  .footer-navigation-block :nth-child(9),
  .footer-navigation-block :nth-child(5),
  .footer-navigation-block :nth-child(11) {
    margin-left: 34px;
  }
  .footer-navigation-block :nth-child(3) {
    margin-left: 50px;
  }
  .footer-navigation-item {
    font-size: 6px;
  }
  .footer-right-text {
    font-size: 5px;
    margin-top: 2px;
    margin-bottom: -6px;
  }
  .footer-icon {
    display: inline-block;
    margin-left: 8px;
  }
  .footer-right-icons {
    margin-top: 6px;
  }
  .icon {
    font-size: 9px;
  }
}
